version: "3.9"

services:
  mongo:
    image: mongo:6
    container_name: vacation_mongo
    restart: always
    volumes:
      - mongo_data:/data/db
    ports:
      - "27017:27017"

  backend:
    build: ./backend
    container_name: vacation_backend
    env_file:
      - ./backend/.env
    depends_on:
      - mongo
    expose:
      - "8000"

  frontend:
    build: ./frontend
    container_name: vacation_frontend
    depends_on:
      - backend
    expose:
      - "80"

  nginx:
    image: nginx:latest
    container_name: vacation_nginx
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - frontend
      - backend
    ports:
      - "7055:80"

volumes:
  mongo_data:
  